{% extends 'includes/base.html' %}


{% block title %}
    Registrar Empleado
{% endblock title %}


{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell"> Registrar Empleado </h1>
            <form method="post" class="cell grid-x grid-margin-x" enctype="multipart/form-data"> {% csrf_token %}
                <div class="cell large-6">
                    <label>
                        Nombres:
                        {{ form.first_name }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>
                        Apellidos:
                        {{ form.last_name }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>
                        Trabajo:
                        {{ form.job }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>
                        Area:
                        {{ form.departamento }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>
                        Habilidades Extras:
                        {{ form.habilidades }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>
                        FOTO:
                        {{ form.image }}
                    </label>
                </div>
                <div class="cell">
                    <button type="submit" class="success button">
                        Crear
                    </button>
                </div>
            </form>
        </div>
    </div>

    {% endblock content %}
    
<h1> Registrar persona </h1>

<form method="POST"> {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"> Subir datos </button>
</form>

