{% extends 'includes/base.html' %}


{% block title %}
    Registrar Departamento
{% endblock title %}


{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x">
            <form method="post" class="cell callout grid-x grid-margin-x"> {% csrf_token %}
                <div class="medium-6 cell">
                    <label>
                        Apellido:
                        {{ form.apellido }}
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label>
                        Nombre:
                        {{ form.nombre }}
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label>
                        Departamento:
                        {{ form.departamento }}
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label>
                        Short Name:
                        {{ form.shortname }}
                    </label>
                </div>
                <div class="medium-12 cell">
                    <button type="submit"  class="button"> Guardar</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}
